html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.vid-frame {
    width: 350px;
    height: 225px;
}

body {
    color: white;
    background: url("images/gym-capstone.jpg") no-repeat center center fixed;
    background-size: cover;
}

.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form > * {
    margin: 0 auto;
    width: fit-content;
}

.form-submit {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    
    
}

.header {
    font-family: "Open Sans", sans-serif;
    justify-content: center;
    display: flex;
    font-size: 1.5rem;
    margin: 0;
    padding: 10px 20px;
    text-align: center;
}

form {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    padding: 30px;
    border-radius: 20px;
}

#submit, #bodypart { 
    font-size: 1.5rem;
}

.result, .hidden {
    font-size: 1.1rem;
    font-family: "Open Sans", sans-serif;
}

#submit {
    background: yellow;
    border: none;
    cursor: pointer;
    padding: 5px 5px;
    
}

.result {
    border-color: black;
    padding: 5px 5px;
    
}

.workout-description {
    padding: 5px 5px;
}

.workout-description p {
    text-align: center;
    margin-block-start: 0;
}

.workout-name {
    color: yellow;
    text-align: center;
    margin-block-end: 0;
}

#videos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
    width: 100%;
    place-items: center;
}

iframe {
    
    box-shadow: 5px 5px 8px 3px white,
               -5px -5px 8px 3px white;
}

.hidden {
    width: 100%;
    color: yellow;
    text-align: center;
}

.background {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .7;
    position: fixed;
    z-index: -1;
}

.workout-container:not(:last-child) {
    margin-bottom: 15px;
}

.workout-container:first-child {
    margin-top: 15px;
}

.errors {
    color: yellow;
    font-weight: bold;
}

@media screen and (min-width: 1024px) {
    :root {
        font-size: 20px;
    }

    .workout-container {
        max-width: 50%;
        margin-bottom: 15px;
        width: 100%;
    }

    .result, #videos {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .workout-container:not(:last-child) {
        margin-bottom: 0;
    }

    .workout-container:first-child {
        margin-top: 0;
    }
    
}